* {
	font-family: "Courier";
	margin: 0;
}

html {
	height: 100%;
	background: url(http://imagine.pics/images/683/68359.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position: relative;
}

#header {
	background-color: black;
	color: white;
	margin: auto;
	height: 200px;
	width: 96%;
	opacity: .7;
	position: relative;
}

h1 {
	color : white;
	font-size: 5em;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.5em;
	text-align: left;
	word-spacing: 0;
	margin-left: 10px;
}

h3 {
	color: white;
	font-size:4em;
	font-weight: 400;
	line-height:0.8em;
	text-align:left;
	margin-left: 10px;
}

#nav {
	margin: 20px 20px;
	background-color: black;
    opacity: 0.7;
    width: 96%;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: left;
    border: 1px solid white; /*temp*/
}

a {
    display: block;
    width: 100px;
    font-style: none;
    color: white;
}

#body {
	color: white;
	background-color: black;
	opacity: 0.7;
	margin: 20px;
}

p {
	margin: auto;
}

button {
	margin-left:auto;
	margin-right:auto;
}

