* {
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

html {
	height: 100%;
	background: url(http://imagine.pics/images/683/68359.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position: relative;
}

body {
	background-color:rgba(0,0,0,0.5);
	margin: 0;
}

#nav {
	height: 50px;
}

ul {
    list-style-type: none;
    padding-right: 10px;
    float: right;
}

li {
    float: left;
    border-left: 1px solid white; 
}

ul li:last-child {  
	border-right: 1px solid white; 
}

a {
    width: 100px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 20px;
    text-align: center;
    transition: .5s;
}

a:hover{
	opacity: 0.5;
}

.hidden{
    display: none
}

div.slideL, div.slideR{
	position:relative;
}

#profpic {
	width: 20%;
	border-radius: 20px;
	margin-right: -300px;
}

#header {
	color: white;
	height: 120px;
	margin: 10px;
}

h1 {
	color : white;
	font-size: 5em;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.5em;
	text-align: center;
	word-spacing: 0;
	margin-left: 0px; /*change left margin and alignment for sliding*/
}

#body {
	color: white;
	margin: 0;
	text-align: right;
}

#body p{
	margin: 50px;
	text-align: left;
}

button {
	margin-bottom: 10px;
	text-align: center;
}

